/* TOGGLE START */

input[type=checkbox].toggle {
	display: none;
	width: 0;
	visibility: hidden;
}

label.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: var(--input-width);
	height: var(--input-height);
	background: var(--ui-panel-col-left);
	display: block;
	border-radius: var(--input-border-radius);
	position: relative;
    transition: all 0.2s ease-in-out;
	cursor: none;
}

label.toggle:after {
	content: '';
	position: absolute;
	top: var(--input-center-x);
	left: var(--input-center-x);
	width: var(--input-circle-size);
	height: var(--input-circle-size);
	background: #fff;
	border-radius: var(--input-border-radius);
	transition: 0.2s ease-in-out;
}

input.toggle:checked + label {
	background: var(--color-accent);
}

input.toggle:checked + label:after {
	left: calc(100% - var(--input-center-x));
	transform: translateX(-100%);
}

label.toggle:active:after {
	width: calc(var(--input-width) * var(--input-circle-scale));
}

/* TOGGLE END */


/* SLIDER START */

input[type=range].slider {
	-webkit-appearance: none;
	width: 100%;
	height: var(--input-height);
	background: var(--ui-panel-col-left);
	border-radius: var(--input-border-radius);
	transition: all 0.2s ease-in-out;
	margin-top: 1rem;
	cursor: none;
}

input[type=range].slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--input-circle-size);
	height: var(--input-circle-size);
	border-radius: 100%;
	background: var(--color-accent);
	padding: var(--input-center-x);
	cursor: none;
	border: calc(var(--input-center-x) / 2) solid var(--ui-panel-col-left);
	transition: all 0.2s ease-in-out;
}

/* SLIDER END */


/* NUMBER START */

input[type=tel].number {
	width: var(--input-width);
	height: var(--input-height);
	background: var(--ui-panel-col-left);
	border-radius: var(--input-border-radius);
	border: 0;
	transition: all 0.2s ease-in-out;
	text-align: center;
	color: var(--color-font);
	font-size: calc(1.1rem * var(--font-scale));
	font-weight: 500;
	font-family: 'montserrat', sans-serif;
	cursor: none;
}

input[type=tel].number:focus {
	outline: none;
	border: var(--color-accent) solid 0.2rem;
}

/* NUMBER END */


/* DROPDOWN START */
select.dropdown {
	width: fit-content;
	height: fit-content;
	background: var(--ui-panel-col-left);
	border-radius: var(--input-border-radius);
	border: 0;
	transition: all 0.2s ease-in-out;
	padding: 0.2rem;
	text-align: center;
	color: var(--color-font);
	font-size: calc(1.1rem * var(--font-scale));
	font-weight: 500;
	font-family: 'montserrat', sans-serif;
	cursor: none;
}

select.dropdown:focus {
	outline: none;
	border: var(--color-accent) solid 0.2rem;
}

select.dropdown option {
	color: var(--color-font);
	font-size: calc(1.1rem * var(--font-scale));
	font-weight: 500;
	font-family: 'montserrat', sans-serif;
}






/* MAIN START */

#settings {
    display: flex;
    flex-direction: row;    
    background-color: var(--ui-panel-col-right);
}

/* left and right panels */
#settings > .left-panel, 
#settings > .right-panel {
    border-radius: var(--ui-panel-border-radius);
    z-index: inherit;
    height: 100%;
    overflow-y: auto;
}      