
/* 
	--- LEFT PANEL ---
*/

/* Left panel */
#settings > .left-panel {
    background-color: var(--ui-panel-col-left);
    width: 40%;
    direction: rtl; /* Makes the scrollbar appear on the left */
} 

/* Settings header */
#settings > .left-panel > .page-title {
    font-size: calc(1.5rem * var(--font-scale));;
    font-weight: 400;
    letter-spacing: 0.4rem;
    color: var(--color-font-accent);
    text-align: center;
    margin: 1rem;
}

/* Main setting option */
.settings-option {
    padding: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0.5rem;
    border-radius: var(--ui-panel-border-radius);
    transition: background-color 0.15s ease-in-out;
}

/* Setting Icon */
.settings-option > .icon {
    width: 1.5rem;
    /* Margin left and right */
    margin: 0 1rem 0 0;
    color: var(--color-font-deselected);
    font-size: calc(1.25rem * var(--font-scale));
}

/* Setting lable */
.settings-option > h2 {
    font-size: calc(1rem * var(--font-scale));
    font-weight: 500;
    margin: 0;
    color: var(--color-font-deselected);
}

/* Hover anims */
.settings-option:hover {
    background-color: var(--ui-button-color-hover);
}

.settings-option.active {
    background-color: var(--ui-button-color);
}

.settings-option.active > * {
    color: var(--color-font-selected);  
}


/* 
	--- RIGHT PANEL ---
*/

/* Right panel */
#settings > .right-panel {
    background-color: var(--ui-panel-col-right);
    width: 60%;
}

/* Main setting layout */
#settings > .right-panel .option {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* Spacing */
#settings > .right-panel .option > .top > .right {
	display: flex;
	height: 100%;
	flex-direction: column;
	margin-left: 1rem;
}

#settings > .right-panel .option > .top {
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

#settings > .right-panel .option > .bottom {
	width: 100%;
}


/* Option Title */
#settings > .right-panel .option > .top > .left > h2 {
    color: var(--color-font);
    font-size: calc(1.2rem * var(--font-scale));
    font-weight: 600;
    margin: 0;
}

/* Option Description */
#settings > .right-panel .option > .top > .left > p {
    font-size: calc(1rem * var(--font-scale));
    font-weight: 300;
    margin: 0;
    color: var(--color-font-accent);
}

/* Separator */
hr.settings-separator {
    height: 2px;
    border-radius: 1rem;
    border: 0;
    background-color: var(--ui-button-color);
    margin: 1rem;
}

/* MAIN END */

