:root {
    --input-width: 3rem;
    --input-height: 1.5rem;
    --input-border-radius: 0.5rem;
    --input-circle-radius: 00.5rem;
    --input-circle-scale: 0.8;
    --input-circle-size: calc(var(--input-height) * var(--input-circle-scale));
    --input-center-sub: calc(var(--input-height) - var(--input-circle-size));
    --input-center-x: calc(var(--input-center-sub) / 2);
}

/* TOGGLE START */

input[type=checkbox].toggle {
	height: 0;
	width: 0;
	visibility: hidden;
}

label.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: var(--input-width);
	height: var(--input-height);
	background: var(--ui-panel-col-left);
	display: block;
	border-radius: var(--input-border-radius);
	position: relative;
    transition: all 0.2s ease-in-out;
	cursor: none;
}

label.toggle:after {
	content: '';
	position: absolute;
	top: var(--input-center-x);
	left: var(--input-center-x);
	width: var(--input-circle-size);
	height: var(--input-circle-size);
	background: #fff;
	border-radius: var(--input-border-radius);
	transition: 0.2s ease-in-out;
}

input.toggle:checked + label {
	background: var(--color-accent);
}

input.toggle:checked + label:after {
	left: calc(100% - var(--input-center-x));
	transform: translateX(-100%);
}

label.toggle:active:after {
	width: calc(var(--input-width) * var(--input-circle-scale));
}

/* TOGGLE END */


/* SLIDER START */

input[type=range].slider {
	-webkit-appearance: none;
	width: 100%;
	height: var(--input-height);
	background: var(--ui-panel-col-left);
	border-radius: var(--input-border-radius);
	transition: all 0.2s ease-in-out;
	margin-top: 0.5rem;
	cursor: none;
}

input[type=range].slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--input-circle-size);
	height: var(--input-circle-size);
	border-radius: 100%;
	background: var(--color-accent);
	padding: var(--input-center-x);
	cursor: none;
	border: calc(var(--input-center-x) / 2) solid var(--ui-panel-col-left);
	transition: all 0.2s ease-in-out;
}

/* SLIDER END */


/* NUMBER START */

input[type=tel].number {
	width: var(--input-width);
	height: var(--input-height);
	background: var(--ui-panel-col-left);
	border-radius: var(--input-border-radius);
	border: 0;
	transition: all 0.2s ease-in-out;
	text-align: center;
	color: var(--color-font);
	font-size: 1.1rem;
	font-weight: 500;
	font-family: 'montserrat', sans-serif;
	cursor: none;
}

input[type=tel].number:focus {
	outline: none;
	border: var(--color-accent) solid 0.2rem;
}

/* NUMBER END */


/* MAIN START */

#settings {
    display: flex;
    flex-direction: row;    
    background-color: var(--ui-panel-col-right);
}

/* left and right panels */
#settings > .left-panel, 
#settings > .right-panel {
    border-radius: var(--ui-panel-border-radius);
    z-index: inherit;
    height: 100%;
    overflow-y: auto;
}      


/* 
	--- LEFT PANEL ---
*/

/* Left panel */
#settings > .left-panel {
    background-color: var(--ui-panel-col-left);
    width: 40%;
    direction: rtl; /* Makes the scrollbar appear on the left */
} 

/* Settings header */
#settings > .left-panel > .page-title {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    color: var(--color-font-accent);
    text-align: center;
    widows: 100%;
    margin: 1rem;
}

/* Main setting option */
.settings-option {
    padding: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0.5rem;
    border-radius: var(--ui-panel-border-radius);
    transition: background-color 0.15s ease-in-out;
}

/* Setting Icon */
.settings-option > .icon {
    width: 1.5rem;
    /* Margin left and right */
    margin: 0 1rem 0 0;
    color: var(--color-font-deselected);
    font-size: 1.25rem;
}

/* Setting lable */
.settings-option > h2 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: var(--color-font-deselected);
}

/* Hover anims */
.settings-option:hover {
    background-color: var(--ui-button-color-hover);
}

.settings-option.active {
    background-color: var(--ui-button-color);
}

.settings-option.active > * {
    color: var(--color-font-selected);  
}


/* 
	--- RIGHT PANEL ---
*/

/* Right panel */
#settings > .right-panel {
    background-color: var(--ui-panel-col-right);
    width: 60%;
}

/* Main setting layout */
#settings > .right-panel .option {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* Spacing */
#settings > .right-panel .option > .top > .right {
	margin-left: 1rem;
}

#settings > .right-panel .option > .top {
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

#settings > .right-panel .option > .bottom {
	width: 100%;
}


/* Option Title */
#settings > .right-panel .option > .top > .left > h2 {
    color: var(--color-font);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

/* Option Description */
#settings > .right-panel .option > .top > .left > p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    color: var(--color-font-accent);
}

/* Separator */
hr.settings-separator {
    height: 2px;
    border-radius: 1rem;
    border: 0;
    background-color: var(--ui-button-color);
    margin: 0 1rem 0 1rem;
}

/* MAIN END */

