
/* 
    Design and colors inspired by:
    https://material.io/design/color/dark-theme.html
 */

:root {
    --color-primary: rgb(29, 29, 29);
    --color-accent: rgb(0, 140, 255);
    --color-font: rgb(209, 209, 209);

    --color-font-deselected: rgb(182, 182, 182);
    --color-font-selected: rgb(236, 236, 236);
    --color-font-accent: rgb(238, 238, 238);

    --ui-max-width: 800px; 
    --ui-max-height: 1000px;

    --ui-panel-background: #121212;

    --ui-panel-col-left: #1d1d1d;
    --ui-panel-col-right: #121212;

    --ui-panel-border-radius: 0.5rem;
    --ui-button-color: #3d3d3d;
    --ui-button-color-hover: #2c2c2c;

    --font-scale: 1;
}

html {
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 100vw;
    max-width: 100vw;

    height: 100vh;
    max-height: 100vh;

    font-family: 'Montserrat', sans-serif;

    position: relative;
}

#canvas {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);

    position: absolute;
    top: 0;
    left: 0;
}

#cursor {
    z-index: 1000;
    position: absolute;
}

#cursor > span {
    position: absolute;
    transition: all 0.15s ease-in-out;
}

#cursor img {
    transition: all 0.15s ease-in-out;
    position: absolute;
}


/* 
    Main UI Styles
*/

.full-panel {
    max-width: var(--ui-max-width);
    max-height: var(--ui-max-height);
    width: 90vw;
    height: 90vh;
    background-color: var(--color-primary);
    border-radius: var(--ui-panel-border-radius);
    opacity: 1;
}

.blur {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-left {
    display: flex;
    justify-content: left;
}


/* 
    Scrollbar
*/

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--ui-panel-col-right);
    border-radius: var(--ui-panel-border-radius);
}

::-webkit-scrollbar-track {
    border-radius: var(--ui-panel-border-radius);
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: var(--ui-panel-border-radius);
}


/* 
    Misc
*/

.invisible {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}